#section {
	margin: 60px 40px;
	padding: 20px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: block;
	overflow-y: auto;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
}

#section img {
	max-width: 600px;
}

/* When less than 600px... */
@media (max-width:600px) {

	#section {
		padding: 6px;
		margin: 60px 10px 10px 10px;
	}
}

.anchor-link,
section figure img.thumbnail {
	display: none;
}

#loader {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    display: none;
    z-index: 1000;
    text-align: center;
    font-size: 3em;
    padding-top: 20%;
}

