/* line 2, ../figures.scss */
.figure_content img {
  max-width: 90%;
  border: 4px solid #f1f1f1;
}

/* line 8, ../figures.scss */
figcaption {
  max-width: 90%;
  background: #f1f1f1;
}

/* line 18, ../figures.scss */
.osci-figure {
  background: #f1f1f1;
}
