/* line 2, ../figures.scss */
.figure_content img {
  max-width: 90%;
  border: 4px solid #f1f1f1;
}

/* line 8, ../figures.scss */
figcaption {
  background: #f1f1f1;
}

/* line 12, ../figures.scss */
.left {
  float: left;
  max-width: 50vh;
  max-height: 50vh;
}
/* line 16, ../figures.scss */
.left figcaption {
  max-width: 100%;
  margin-right: 45px;
  padding: 5px;
}

/* line 24, ../figures.scss */
.right {
  float: right;
  max-width: 50vh;
  max-height: 50vh;
}
/* line 28, ../figures.scss */
.right figcaption {
  max-width: 50vh;
  margin-left: 20px;
  padding: 5px;
}

/* line 40, ../figures.scss */
.osci-figure {
  background: #f1f1f1;
}
