/* line 1, ../figures.scss */
.plate {
  min-width: 100%;
}

/* line 9, ../figures.scss */
.right {
  float: right;
  height: 30vw;
  margin: 10px 0 40px 20px;
}

/* line 15, ../figures.scss */
.left {
  float: left;
  height: 30vw;
  margin: 10px 20px 40px 0;
}
