/* line 1, ../header.scss */
header {
  z-index: 1000;
}

/* line 4, ../header.scss */
.container-header {
  width: 100%;
  height: 400px;
  max-width: 100%;
  background-color: #909090;
  background-position: center;
  background-size: cover;
}

/* line 13, ../header.scss */
.header-title {
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  text-shadow: 0 1px 0 black;
}
/* line 22, ../header.scss */
.header-title h1 {
  margin: 0;
}
/* line 25, ../header.scss */
.header-title p {
  font-style: italic;
  font-weight: 300;
}
