/* line 1, ../navbar.scss */
#navbar.affix {
  position: fixed;
  top: 0;
  width: 100%;
}

/* line 7, ../navbar.scss */
#navbar {
  z-index: 998;
}
/* line 10, ../navbar.scss */
#navbar .nav li {
  text-align: center;
  width: 55px;
}
/* line 11, ../navbar.scss */
#navbar .nav li a {
  font-size: 24px;
}
@media (max-width: 768px) {
  /* line 11, ../navbar.scss */
  #navbar .nav li a {
    font-size: 14px;
  }
}
/* line 21, ../navbar.scss */
#navbar .nav li.active {
  background-color: #333;
}

/* line 27, ../navbar.scss */
#navbar-title {
  color: #333;
  font-size: 24px;
}
@media (max-width: 768px) {
  /* line 27, ../navbar.scss */
  #navbar-title {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  /* line 38, ../navbar.scss */
  #navbar .nav li {
    width: 100%;
    text-align: left;
  }
}
/* line 47, ../navbar.scss */
#navbar-area .tooltip > .tooltip-inner {
  background-color: #52818b;
  height: 40px;
  position: relative;
  text-transform: uppercase;
  right: 50px;
  top: -8px;
  min-width: 150px;
  line-height: 35px;
  color: #FFF;
}
/* line 58, ../navbar.scss */
#navbar-area .tooltip.bottom > .tooltip-arrow {
  top: -16px;
  left: 50%;
  margin-left: -15px;
  border-bottom-color: #52818b;
  border-width: 0 15px 15px;
}
