/* line 1, ../progress.scss */
.progress.vertical {
  position: fixed;
  top: 70px;
  right: 40px;
  width: .25em;
  height: 90%;
}

/* line 8, ../progress.scss */
.progress.vertical.bottom {
  position: relative;
}

/* line 11, ../progress.scss */
.progress.vertical.bottom .progressbar-front-text {
  position: absolute;
  bottom: 0;
}

/* line 15, ../progress.scss */
.progress.vertical .progress-bar {
  width: 100%;
  height: 0;
  -webkit-transition: height 0.6s ease;
  -o-transition: height 0.6s ease;
  transition: height 0.6s ease;
}
