/* line 1, ../toolbar.scss */
#toolbar.affix {
  top: 50px;
}
/* line 3, ../toolbar.scss */
#toolbar.affix + .container {
  padding-top: 50px;
}

/* line 8, ../toolbar.scss */
#toolbar {
  float: left;
  margin-top: 20px;
  z-index: 998;
}
