html {
	height:100%;
}

body {
	margin: 0;
	height:100%;
}

a {
	color:#52818C;
}

/* apply a natural box layout model to all elements */
* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

#reader {
	position: relative;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

figcaption {
	padding-top:10px;
	color:#999;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}

.title-view {
	margin:0;padding:0;
	height:50px;display:block;
	background: url('../images/logo-osci-1.png') no-repeat 10px center transparent;
}
.title-view h1 {
	line-height:50px;
	font-size:17px;
	color:#52818C;
	padding-left:120px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:normal;
}

.page {
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
}
.page p {
	line-height:1.5em;
}

.paragraph-controls {
	color: #BACCD1;
	font-size:11px;
	font-family:Arial, Helvetica, sans-serif;
}

a.footnote-reference {
	vertical-align:super;
	font-size:10px;
	margin-right:10px;
	text-decoration:none;
	font-family: Arial, Helvetica, sans-serif;
}


/* figures */
figcaption p {
	display: inline;
}
figure.html_asset .figureContent {
    overflow: auto;
}

/* ------------------ Table Styles ------------------ */

table {
  border: 0;
  border-spacing: 0;
  font-size: 0.857em;
  margin: 10px 0;
  width: 100%;
}
table table {
  font-size: 1em;
}
#footer-wrapper table {
  font-size: 1em;
}
table tr th {
  background: #757575;
  background: rgba(0, 0, 0, 0.51);
  border-bottom-style: none;
}
table tr th,
table tr th a,
table tr th a:hover {
  color: #FFF;
  font-weight: bold;
}
table tbody tr th {
  vertical-align: top;
}
tr td,
tr th {
  padding: 4px 9px;
  border: 1px solid #fff;
  text-align: left; /* LTR */
}
tr.odd {
  background: #e4e4e4;
  background: rgba(0, 0, 0, 0.105);
}
tr,
tr.even {
  background: #efefef;
  background: rgba(0, 0, 0, 0.063);
}
table ul.links {
  margin: 0;
  padding: 0;
  font-size: 1em;
}
table ul.links li {
  padding: 0 1em 0 0;
}

/* paragraph number controls */
.paragraph-controls {
	font-size:11px!important;
}
.paragraph-controls.notes-present span {
	padding:2px 5px;background:#EBE8C1;color:#333;
}
.paragraph-controls span {
	padding:2px 5px;
}

/* tooltips */
.toggleNoteDialog, .toggleCiteDialog {
	line-height:16px;height:16px;
	vertical-align:middle;
	text-shadow:0 1px 1px rgba(255,255,255,.8);
	text-transform:uppercase;
	text-decoration:none;
	padding:0 5px 0 18px;
}
.toggleNoteDialog {
	display:inline-block;
	background: url('../images/icon-note-mini.png') no-repeat left center;
	margin-bottom:8px;
}
.toggleCiteDialog {
	display:inline-block;
	background: url('../images/icon-cite-mini.png') no-repeat left center;
}
.ui-tooltip-content {
	position: relative;
	padding: 5px 9px;
	text-align: left;
	word-wrap: break-word;
	overflow: hidden;
	background: #fff;


}
.ui-tooltip .ui-tooltip-tip {
	background: url('../images/bg-toolbar.gif') repeat!important;
	display:none!important;
}
.ui-tooltip, .qtip {
	width:auto!important;
	margin-left:-10px;
}

.ui-tooltip, .qtip {
	position: absolute;
	left: -28000px;
	top: -28000px;
	display: none;
	max-width: 280px;
	min-width: 50px;
	font-size: 10.5px;
	line-height: 12px;
	border-width: 1px;
	border-style: solid;
	background: url('../images/bg-toolbar.gif') repeat;
	border-radius:6px;
	box-shadow: 0 0 10px rgba(0,0,0,.6);
}
.ui-tooltip-content {
	background: url('../images/bg-toolbar.gif') repeat;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
	padding:10px;
}
.ui-tooltip.qtip .ui-tooltip-titlebar {
	font-size:14px;text-transform:uppercase;
	border-bottom:3px solid #999;
	margin: 10px 10px 5px 10px;
	padding:5px 0 5px 0;
	font-family:Arial, Helvetica, sans-serif;
}

/* paragraph control tooltips */
.paragraph-controls .ui-tooltip, .paragraph controls .qtip {
	box-shadow:none;border:none;
}
.paragraph-controls .ui-tooltip.qtip {
	border-radius:4px!important;

}
.paragraph-controls .ui-tooltip-content {
	padding:6px;
	word-wrap:normal!important;
	box-shadow: none !important;
	border:1px solid #f2f2f2;
	border-radius:4px!important;
}


/* misc */
.fancybox-close {
	top: 0!important;
	right: 0!important;
	opacity:.4;
}
.fancybox-close:hover { opacity: 1; }

@media (max-width:600px) {
	.title-view h1 {
		display: none;
	}
}
