div.layered_image-asset {
    line-height: 100%;
}

div.layered_image-asset {
	position: relative;
	width: 100%;
	height: 100%;
	line-height: 100%;
	background: #FFF;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 12px;
	user-select: none;
}

div.layered_image-asset .ui-slider-handle {
    outline: none;
}

.ca-ui-controlbar {
	position: absolute;
	bottom: 0;
	right: 0;
	height: 50px;
	background: #000;
	margin: 0;
	opacity: 0.85;
    display: none;
}

.ca-ui-annotation {
	float: right;
	width: 50px;
	height: 50px;
	background: url('../images/icon-annotation.png') center no-repeat;
	border-right: 1px solid #888;
	display: none;
}

.ca-ui-annotation.active {
	background-color: #555;
}

.ca-ui-reset {
	float: right;
	width: 50px;
	height: 50px;
	background: url('../images/icon-reset.png') center no-repeat;
	border-right: 1px solid #888;
}

.ca-ui-fullscreen {
	float: right;
	width: 50px;
	height: 50px;
}

.ca-ui-layer-selector {
	float: right;
	height: 50px;
	width: 50px;
	background: url('../images/icon-layers.png') center no-repeat;
	border-right: 1px solid #888;
	display: none;
}
.ca-ui-layer-selector.active {
	background-color: #555;
}


.ca-ui-layer {
	padding: 5px 5px 5px 5px;
	float: right;
	height: 20px;
	color: #fff;
	font-size: 12px;
	line-height: 12px;
	border-right: 1px solid #888;
}

.ca-ui-layer span {
	display: inline;
	float: left;
	vertical-align: middle;
	text-align: center;
	padding: 4px 8px 0 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-width: 20px;
}

.ca-ui-down-arrow {
	background: url('../images/icon-down-arrow.png') center no-repeat;
	float: left;
	width: 16px;
	height: 16px;
	padding-top: 3px;
}

.ca-ui-right-arrow {
	background: url('../images/icon-right-arrow.png') center no-repeat;
	float: left;
	width: 16px;
	height: 16px;
	padding-top: 3px;
}

.ca-ui-fullscreen.collapsed {
	background: url('../images/icon-fullscreen.png') center no-repeat;
}

.ca-ui-fullscreen.expanded {
	background: url('../images/icon-collapse.png') center no-repeat;
}

.ca-ui-zoom {
	position: absolute;
	top: 0;
	right: 0;
	background: #000;
	opacity: 0.85;
	width: 50px;
    display: none;
}

.ca-ui-zoom-in {
	background: url('../images/icon-zoom-in.png') center no-repeat;
	width: 50px;
	height: 50px;
	border-bottom: 1px solid #888;
}

.ca-ui-zoom-out {
	background: url('../images/icon-zoom-out.png') center no-repeat;
	width: 50px;
	height: 50px;
    border-top: 1px solid #888;
}
/*
.ca-ui-zoom-slider {
	display: none;
}
*/
.ca-ui-zoom-slider {
	height: 75px;
	width: 5px;
	background: #444;
	margin: 10px auto;
}

.ca-ui-zoom-slider .ui-slider-handle {
	width: 12px;
	height: 6px;
	background: #ccc;
	left: -4px;
	margin-bottom: -5px;
}


/* ViewFinder */

.ca-ui-viewfinder {
	position: absolute;
	top: 0;
	left: 0;
    display: none;
}

.ca-ui-viewfinder.viewfinder-open {
	width: 100px;
	height: 100px;
	background: #000 url('../images/icon-viewfinder-small-rev.png') bottom right no-repeat;
    overflow: hidden;
    box-shadow: 0 0 2px #000;
}

.ca-ui-viewfinder.viewfinder-closed {
	width: 50px;
	height: 50px;
	background: #000 url('../images/icon-viewfinder-big-rev.png') center no-repeat;
	opacity: 0.85;
}

.ca-ui-viewfinderLayer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.ca-ui-viewfinderLayer images {
	width: 100%;
	height: 100%;
}

.ca-ui-viewfinder-viewport {
	position: absolute;
	border: 1px solid red;
}

.ca-ui-legend {
	position: absolute;
	top: 0;
	right: 55px;
    background: #000;
    opacity: 0.85;
    color: #fff;
    display: block;
    font-size: 11px;
}

.ca-ui-legend ul {
    list-style: none;
    margin: 0 !important;
	padding: 7px 7px 7px 7px !important;
}

.ca-ui-legend li {
    padding: 5px 0 5px 0 !important;
}

.ca-ui-legend .item-box {
	float: left;
	height: 6px;
	width: 12px;
	margin-top: 2px;
    margin-right: 5px;
}

.ca-ui-fullscreen-modal {
    position: absolute;
    top: 26px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9990;
    background: lightgray;
}

.ca-ui-fullscreen-wrap {
    position: absolute;
    top: 26px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    -moz-box-shadow: 0 0 5px 5px #000;
    -webkit-box-shadow: 0 0 5px 5px #000;
    box-shadow: 0 0 5px 5px #000;
}

.ca-ui-fullscreen-wrap {
	position: absolute;
	top: 26px;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
	/*-moz-box-shadow: 5px 5px 5px 5px #000;
    -webkit-box-shadow: 5px 5px 5px 5px #000;*/
    box-shadow: 0 0 5px 5px #000;
}

.ca-ui-fullscreen-wrap figcaption {
    background: #000;
    color: #DDD;
    padding: 5px;
}

.ca-ui-fullscreen-wrap figcaption span {
    padding-left: 5px;
}

.ca-ui-fullscreen-wrap figcaption p {
    display: inline;
    padding-left: 10px;
    padding-right: 20px;
}

.ca-ui-fullscreen-wrap figure {
	margin: 0;
}

.ca-ui-annotation-selector {
	position: absolute;
	margin: 0;
	background-color: #555;
	padding: 5px 10px 5px 10px;
	color: #fff;
}

.ca-ui-annotation-selector .title {
	font-weight: bold;
	font-size: 12px;
	padding-bottom: 1px;
}

.ca-ui-annotation-selector-list {
	list-style: none;
	margin: 0;
}

.ca-ui-annotation-selector-list li {
	font-size: 11px;
	height: 17px;
	border-top: 1px solid grey;
	padding-top: 5px;
	margin-bottom: 5px;
}

.ca-ui-annotation-selector-list li span {
	float: left;
	padding-left: 5px;
	text-align: center;
}

.ca-ui-annotation-selector-list hr {
	border: 1px solid gray;
	height: 0;
}

.ca-ui-annotation-selector-item-box {
	float: left;
	height: 11px;
	width: 11px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	text-align: center;
}

.ca-ui-annotation-selector-item-box.empty {
	background-color: #000;
}

.ca-ui-annotation-selector-item-box.filled {
	background-color: #fff;
}

.ca-ui-layer-selector-popup {
	position: absolute;
	margin: 0;
	background-color: #555;
	padding: 0 5px 0 5px;
	color: #fff;
}

.ca-ui-layer-selector-popup span {
	text-align: center;
    display: inline-block;
}

.ca-ui-layer-selector-rows {
	font-size: 11px;
}

.ca-ui-layer-selector-row-button1 {
	width: 30px;
	height: 30px;
	border-top: 1px solid gray;
    display: inline-block;
    vertical-align: top;
}

.ca-ui-layer-selector-rows .ca-ui-layer-selector-row:first-child div {
	border-top: none;
}

.ca-ui-layer-selector-row-title {
	border-top: 1px solid gray;
	border-right: 1px solid gray;
	border-left: 1px solid gray;
	min-height: 30px;
	width: 130px;
    display: inline-block;
    vertical-align: top;
    padding: 4px;
}

.ca-ui-layer-selector-row-title span {
	width: 100%;
	text-align: center;
}

.ca-ui-layer-selector-row-button2 {
	width: 30px;
	height: 30px;
	border-top: 1px solid gray;
    display: inline-block;
    vertical-align: top;
}

.ca-ui-layer-selector-row {
	min-height: 30px;
}

.ca-ui-layer-selector-button {
	height: 20px;
	width: 20px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	margin: 4px 0 0 4px;
	text-align: center;
	line-height: 20px;
	background-color: black;
}

.ca-ui-layer-selector-button.active {
	color: black;
	background-color: white;
}

.ca-ui-layer-selector-row-button1 .ca-ui-layer-selector-button.active:after {
	font-size: 10px;
	content: "1";
}

.ca-ui-layer-selector-row-button2 .ca-ui-layer-selector-button.active:after {
	font-size: 10px;
	content: "2";
}

.ca-ui-layer-slider-container {
	float: right;
	width: 200px;
	height: 50px;
    color: #fff;
    font-size: 11px;
    padding: 12px 10px 0 10px;
    text-align: center;
    position: relative;
}

.ca-ui-layer-slider {
	height: 5px;
	width: 130px;
	background: #444;
    position: absolute;
    left: 36px;
    top: 20px;
}

.ca-ui-layer-slider-layer-text {
	padding-bottom: 3px;
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.ca-ui-layer-slider-layer-text1 {
    position: absolute;
    left: 9px;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    background-color: #FFF;
    color: #000;
    text-align: center;
    vertical-align: middle;
    top: 14px;
    padding: 3px 0 0 0;
    cursor: pointer;
}

.ca-ui-layer-slider-layer-text2 {
    position: absolute;
    right: 9px;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    background-color: #FFF;
    color: #000;
    text-align: center;
    vertical-align: middle;
    top: 14px;
    padding: 3px 0 0 0;
    cursor: pointer;
}

.ca-ui-layer-slider .ui-slider-handle {
	width: 7px;
	height: 12px;
	background: #ccc;
	margin-top: -1px;
    margin-left: -4px;
}

/* for ca node edit form */
.ca-edit-color {
    float:left;
    margin-left: 10px;
    height: 12px;
    width: 40px;
    font-size: 10px;
    border: 1px solid #888;
}

div[class$="annotation-flag"] {
    float:left;
}

.thumbContainer images {
    padding: 5px 0;
}

images.image_opaque {
	filter: alpha(opacity=50) !important;
    -moz-opacity: 0.50 !important;
    opacity: 0.50 !important;
}

#edit-initial-frame figure {
	border: 2px solid black;
}
