<div class="progress hidden hidden-print hidden-sm hidden-xs" data-spy="affix" data-offset-top="400">
	<div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
</div>

<div class="container">

</div>

<!-- TOP -->
<header>
	<div id="header" class-"hidden-print"></div>
</header>

<!-- BOTTOM -->
<div id="navbar" class="hidden-print unselectable"></div>

<!-- RIGHT -->
<div id="toolbar" class="hidden-print"></div>

<!-- CENTER -->
<div id="loader">Loading...</div>
<div class="container">
	<div id="section"></div>
</div>

<div id="navigation" class="hidden-print unselectable"></div>
