<div class="header-title">
	<div class="container-fluid">
		<div class="pull-left">
			<h1 class="publication-title"><%= title %></h1>
		</div>
		<div class="pull-left hidden-xs hidden-sm">
			<p class="section-title"><%= sectionTitle %>: <%= sectionSubtitle %></p>
		</div>
		<div class="pull-right">
			<p class="btn-menu"><a href ="javascript:;" id="header-menu-button">Menu</a></p>
		</div>
		<div class="pull-right hidden-xs hidden-sm">
			<p><a href ="javascript:;" id="header-login-button">Login</a></p>
		</div>
	</div>
</div>