<!--

page / total
progress slider
font size selector
1 or 2 col selector

-->
<nav class="navbar navbar-default">
	<div class="container">

    <!-- Page range slider -->
    <div class="pull-left">
      <input type="range" name="points" min="0" max="10" />
    </div>



      <!-- Spread vs. column -->
      <div  class="pull-right">
        <img src="images/one_column_icon.png" />
        <img src="images/two_column_icon.png" />
      </div>

      <!-- Font size area selector -->
      <ul id="font-size-area"  class="pull-right"></ul>



		
	</div>
</nav>