<nav class="nav nav-stacked">
	<ul id="toolbar-area" class=""></ul>
	<div id="toolbar-filler">

<!--
		<p>&nbsp;</p>
-->
		<p>Contents</p>
<!--
		<p>Search</p>
		<p>Glossary</p>
-->
		<p>Footnotes</p>
<!--		
		<p>Figures</p>
-->
		<p>Notes</p>
<!--
		<p>Citations</p>
-->
		<p>User Profile</p>

	</div>
	<div id="toolbar-readout">
		<div id="toc"></div>
		<div id="search"></div>
		<div id="glossary"></div>
		<div id="footnotes-toolbar"></div>
		<div id="figures"></div>
		<div id="notes"></div>
		<div id="citations"></div>
		<div id="account"></div>
	</div>
</nav>
