<h3>Figures</h3>

<div class="toolbar-scroll">
	<% _.each(figures, function(figure) { %>
		<figure>
			<div class="clearfix">
				<% if (figure.thumbnail_url != undefined) { %>
					<img class='figure-thumbnail' src='<%= figure.thumbnail_url %>'/>
				<% } else { %>
					<div class='figure-thumbnail'>&nbsp;</div>
				<% } %>
			</div>
			<figcaption>
				<a data-figure-id="<%= figure.id %>" class="pull-right">
					<img src="images/light/link_icon.png"/>
				</a>
				<%= figure.caption %>
			</figcaption>
		</figure>
	<% }); %>
</div>