<nav class="nav nav-stacked">
	<ul id="toolbar-area" class=""></ul>
	<div id="toolbar-filler">

<!--
		<p>&nbsp;</p>
-->

		<p>Contents</p>
		<p>Search</p>
		<p>Glossary</p>
		<p>Footnotes</p>
		<p>Figures</p>
		<p>Notes</p>
		<!--<p>Citations</p>-->
		<p>User Profile</p>

	</div>
	<div id="toolbar-readout">
		<div id="toolbar-toc"></div>
		<div id="toolbar-search"></div>
		<div id="toolbar-glossary"></div>
		<div id="toolbar-footnotes"></div>
		<div id="toolbar-figures"></div>
		<div id="toolbar-notes"></div>
		<!--<div id="toolbar-citations"></div>-->
		<div id="toolbar-account"></div>
	</div>
</nav>
