<div class="progress vertical hidden hidden-print hidden-sm hidden-xs" data-spy="affix" data-offset-top="400">
	<div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
</div>

<div class="container">
	<div id="account"></div>
	<div id="toc"></div>
	<div id="figures"></div>
</div>

<header>
	<div id="header"></div>
</header>
<div id="navbar" class="hidden-print" data-spy="affix" data-offset-top="400"></div>
<div id="toolbar" class="hidden-print hidden-sm hidden-xs" data-spy="affix" data-offset-top="400"></div>
<div class="container">
	<div class="row">
		<div class="col-md-10 col-md-offset-1 section-col">
			<div id="loader">Loading...</div>
			<div id="section"></div>
		</div>
	</div>
</div>

<div id="navigation" class="hidden no-print"></div>