<div class="progress vertical hidden" data-spy="affix" data-offset-top="400">
	<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
</div>

<div class="container">
	<div id="account"></div>
	<div id="toc"></div>
	<div id="figures"></div>
</div>

<header>
	<div id="header"></div>
</header>
<div id="navbar" data-spy="affix" data-offset-top="400"></div>
<div id="toolbar" data-spy="affix" data-offset-top="400"></div>
<div class="container">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<div id="loader">Loading...</div>
			<div id="section"></div>
		</div>
	</div>
</div>

<div id="navigation"></div>

