#section {

	#section-view {

		figure,
		figure .figure_content,
		figure .figure_content object,
		figure .figure_content object img {

			-webkit-column-break-inside: avoid;		/* Chrome, Safari */
		    page-break-inside: avoid;				/* Theoretically FF 20+ */
		    break-inside: avoid-column;				/* IE 11 */
		    //display:table;						/* Actually FF 20+ */

		    // Reset attributes just in case
		    float: none;
		    display: block;

		    max-width: 100%;
		    line-height: 29px;

		}

		// All max heights are overriden by JavaScript
	    figure {

	    	margin: 15px;

	    	border: thin $gray-lighter solid;
	    	border-radius: 5px;

			padding: 6px;

			float: right;
			clear: both;
			
			
			max-width: 33%;

			.figure_content {
			    object {
				    img {
				    	border: 0;
				    }
				}
			}

			figcaption {
				background: white;

				p {
					font-family: 'Lora', serif;
					font-style: italic;
					font-size: 14px;
					color: #3c3c3c;
					
					padding-top: 4px;
					margin: 0;
				}

			}
	    	    	
	    }

	}

}
