#navigation {

	font-family: sans-serif;
	font-size: 0.8em;

	position: fixed;
	bottom: 20px;
	right: 0px;

	width: $toolbar-width;
	padding: 10px;

	.chapter-info {
		display: inline-block;
		width: calc( 100% - 30px );

		.chapter-number {
			font-family: $font-family-serif;
			font-size: 12px;

		}

		.chapter-title {
			font-family: $font-family-sans-serif;
			font-size: 12px;
		}


	}

	.btn-page {
		display: inline-block;

		height: 100%;
		width: 30px;

		cursor: pointer;

		text-align: center;

		&:hover {
			color: #888;

			.indicator {
				opacity: 1;
			}
		}

		&.prev-page {
			width: 15px;
		}

		&.next-page {
			width: 15px;
		}

		&.inactive {
			display: none;
		}

		.indicator {
			position: absolute;
			top: 50%;

			text-indent: 100%;
			overflow: hidden;

			height: 100%;
			width: 100%;

			opacity: 0.4;

		}

	}

}

/*
.progress.vertical {
  position: fixed;
  top: 70px;
  right: 40px;
  width: .25em;
  height: 85%;
}
.progress.vertical.bottom {
  position: relative;
}
.progress.vertical.bottom .progressbar-front-text {
  position: absolute;
  bottom: 0;
}
.progress.vertical .progress-bar {
  width: 100%;
  height: 0;
  -webkit-transition: height 0.6s ease;
  -o-transition: height 0.6s ease;
  transition: height 0.6s ease;
}
*/

// Double-clicking on the navigation tends to select it...

*.unselectable {

   -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;
  
   // IE 10: http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   -ms-user-select: none;
   user-select: none;

}

