#navigation {

	font-family: sans-serif;
	font-size: 0.8em;

	line-height: 20px;

	position: fixed;
	right: 0px;
	top: 20px;

	width: $toolbar-width-md;
	padding: 8px;

	.chapter-info {

		display: inline-block;
		width: calc( 100% - 50px );

		.chapter-number {
			font-family: $font-family-serif;
			font-size: 14px;

		}

		.chapter-title {
			font-family: $font-family-sans-serif;
			font-size: 14px;
		}


	}

	.btn-page {

		display: inline-block;

		height: 20px;
		width: 20px;

		cursor: pointer;


		background-image: url(../../images/icon-arrow-grey.png);

		&.prev-page { }

		&.next-page {

			// Horizontal filp
		    -moz-transform: scaleX(-1);
		    -o-transform: scaleX(-1);
		    -webkit-transform: scaleX(-1);
		    transform: scaleX(-1);
		    filter: FlipH;
		    -ms-filter: "FlipH";

		}

		&.inactive {
			display: none;
		}

	}

	// Navigation collapses to bottom below this point
	@media( max-width: $osci-bp-lg ) {

		background-color: $color-dk-grey;
		
		width: 100%;
		
		top: initial;
		bottom: 0;

		padding-bottom: 0px;
		z-index: 10001;
		
		.chapter-info {

			color: #fff;

			.chapter-number,
			.chapter-title {
				display: inline-block;
				height: 20px;
			}

			.chapter-title {
				margin-left: 30px;
			}

		}

		.btn-page {
			background-image: url(../../images/icon-arrow-white.png);
			&.inactive {
				background-image: url(../../images/icon-arrow-grey.png);
			}
		}

	}

	@media( max-width: #{$screen-xs-min - 1} ) {
		.chapter-info {
			.chapter-title {
				display: none;
			}
		}
	}

}

// For the .progress-bar in navbar
.progress {

	height: 6px;
	margin-bottom: 6px;

	.progress-bar {
		&.progress-bar-fuchsia {
			background-color: $color-fuchsia;
		}
	}

	@media( max-width: $osci-bp-lg ) and (max-height: #{ $osci-bp-vert } ) {
		display: none;
	}

}

// Double-clicking on the navigation tends to select it...
*.unselectable {

   -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;
  
   // IE 10: http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   -ms-user-select: none;
   user-select: none;

}

// Offset body for the fixed navbar
@media( max-width: $osci-bp-lg ) and (min-height: #{ $osci-bp-vert + 1 } ) {
	body {
		margin-bottom: $navigation-height;
	}
}

@media( max-width: $osci-bp-lg ) and (max-height: #{ $osci-bp-vert } ) {
	body {
		margin-bottom: $navigation-height-sans-progress;
	}
}