$toolbar-margin-bottom: 5px;

#toolbar > #toolbar-view {

	#toolbar-area {

		position: fixed;
		bottom: 0;	
		right: 0;

		width: $toolbar-width-md;

		// Bump this up to avoid the navigation
		@media( max-width: $osci-bp-lg ) {
			bottom: $navigation-height;
		}

		// We want this to be higher than the overlay
		z-index: 10002;

		.toolbar-item-view {

			list-style-type: none;
			padding: 0;

			// This disables all text inside the button
			border: 0;
			font: 0/0 a;
			text-shadow: none;
			color: transparent;

			width: 50px;
			height: 50px;

			background-size: 50px 50px;

			cursor: pointer;

			float: right;

			&.close-toolbar-item {
				background-image: url(../../images/light/icon-x.png);
				float: left;
			}

			&.accountToolbarView-toolbar-item {
				background-image: url(../../images/light/icon-user.png);
			}

			&.tocToolbarView-toolbar-item {
				background-image: url(../../images/light/icon-contents.png);
			}

			&.notesToolbarView-toolbar-item {
				background-image: url(../../images/light/icon-notes.png);
			}

			display: inline-block;

			@media( max-width: $osci-bp-md ) {
				display: block;
				bottom: initial;
				top: 0;
			}

		}

	}

	#toolbar-overlay-wrapper {
		
		// Toggled w/ javascript
		//display: none;

		position: fixed;

		top: 0; // MENU BAR HEIGHT?
		right: 0;
		bottom: 0;
		left: 0;

		@media( max-width: $osci-bp-lg ) {
			bottom: $navigation-height;
		}

		// Note that this is lower than the icons
		z-index: 10001;

		// TESTING
		//background: rgba(255,0,0, 0.25);

		#toolbar-overlay {
			width: calc( 100% - #{$toolbar-width-md} );
			background: rgba(0,0,0, 0.5);

			box-shadow: 0px 0px 5px black;

			@media( max-width: $osci-bp-lg ) {
				box-shadow: none;
			}

			position: relative;
			z-index: 2;

			//position: fixed;
			//top: 0; bottom: 0;
			//left: 0

			height: 100%;
			float: left;
		}

		#toolbar-sidebar {
			width: $toolbar-width-md;
			background: $color-fuchsia;
			//background: white;

			height: 100%;
			float: left;

		}

	}

	// #toolbar-overlay-wrapper > #toolbar-sidebar
	#toolbar-readout {

		//float: left;

		height: 100%;
		color: white;

		//display: none;

		//background: $color-dark-red;
		padding: 8px 8px 8px 12px;

		> div {

			height: 100%;

			> div {

				height: 100%;

				h3 {
					margin: 0;
					border-bottom: 1px white solid;
					padding-bottom: 8px;
				}

				.toolbar-scroll {

					overflow-y: scroll;
					height: calc(100% - 39px - #{50px} );

					padding: 5px 5px 10px 0px;

				    border-bottom: thin solid white;

					a:not(.btn) {
						color: white;

						&:hover {
							//color: $color-light-red;
							text-decoration: none;
						}
					}

					p {
						//font-family: 'Lato', sans-serif;
					}

					ul {

						list-style: none;
						padding: 0;
						margin: 0;

						li {

							margin: 10px 0px;

							h4, h5 {
								margin: 0px;
							}

						}

					}

				}
			}
		}
	}

}


#toolbar-notes {
	.notesListItem {

		.note-buttons {
			float: left;
		}

		.the-note {
			margin-left: 35px;
		}

	}
}

#toolbar-account {

	.account-footer {
		margin-top: 10px;
	}

	.form-error:empty {
		display: none;
	}

	h4 {
		margin-bottom: 5px
	}

	h5{
		margin-top: 5px;
		margin-bottom: 22px;
	}

	.user-icon {
		width: 52px;
		height: 52px;
		margin-right: 10px;
		border-radius: 50%;
		background-color: $color-lt-grey;
		background-image: url(../../images/light/icon-user.png);
		background-size: contain;
		float: left;
	}

}


/*




	background: $color-dark-red;

	#toolbar-view {

		#toolbar-area {

			float: left;
			height: 100%;

			background: $color-light-red;


			z-index: 990;

			list-style-type: none;
			padding: 0;

			li {

				margin-bottom: $toolbar-margin-bottom;

				cursor: hand;
				border: 0;
				font: 0/0 a;
				text-shadow: none;
				color: transparent;

				background-size: 50px 50px;
				background-repeat: no-repeat;
				width: 50px;
				height: 50px;

				&.active {
					background-color: $color-dark-red;
				}

				&.close-toolbar-item {
					background-image: url(../../images/light/x_icon.png);
				}


				&.tocToolbarView-toolbar-item {
					background-image: url(../../images/light/contents_icon.png);
					&:hover {
						background-image: url(../../images/light/contents_icon.png);
					}
				}

				&.searchToolbarView-toolbar-item {
					background-image: url(../../images/light/search_icon.png);
				}

				&.glossaryToolbarView-toolbar-item {
					background-image: url(../../images/light/glossary_icon.png);
				}

				&.footnotesToolbarView-toolbar-item {
					background-image: url(../../images/light/footnotes_icon.png);
				}

				&.figuresToolbarView-toolbar-item {
					background-image: url(../../images/light/figures_icon.png);
				}

				&.notesToolbarView-toolbar-item {
					background-image: url(../../images/light/notes_icon.png);
				}

				&.citationsToolbarView-toolbar-item {
					background-image: url(../../images/light/cite_icon.png);
				}

				&.accountToolbarView-toolbar-item {
					background-image: url(../../images/light/user_icon.png);
					&:hover {
						background-image: url(../../images/light/user_icon.png);
					}
				}
				
			}
		}
	}

	#toolbar-filler,
	#toolbar-readout {
		float: left;
		height: 100%;

		// Relative to position:fixed #toolbar
		width: calc( 100% - 50px );

		color: white;

	}

	#toolbar-filler {
		background: $color-light-red;

		p {
			font-family: 'Lato', sans-serif;
			margin: 0;

			line-height: 50px;
			padding-bottom: $toolbar-margin-bottom;
			padding-left: 10px;

			&.toolbar-trigger {
				cursor: pointer;
			}

		}
	}

	#toolbar-readout {

		display: none;

		background: $color-dark-red;

		padding: 15px 0px 0px 30px;

		> div {

			height: 100%;

			> div {

				height: 100%;

				h3 {
					margin: 0;
					margin-right: -30px;
					padding-right: 30px;
					border-bottom: 1px white solid;
					padding-bottom: 8px;
				}

				.toolbar-scroll {

					overflow-y: scroll;
					height: calc(100% - 39px);

					padding: 5px 5px 10px 0px;

					a:not(.btn) {
						color: white;

						&:hover {
							color: $color-light-red;
							text-decoration: none;
						}
					}

					p {
						font-family: 'Lato', sans-serif;
					}

					ul {

						list-style: none;
						padding: 0;
						margin: 0;

						li {

							margin: 10px 0px;

							h4, h5 {
								margin: 0px;
							}

						}

					}

				}
			}
		}
	}
}



#toolbar-glossary {

	#glossary-filter-box {
		color: black;
	}

	#glossary-term-listing li {
		cursor: pointer;
	}

	#glossary-term-listing-mobile {
		display: none;
	}

	#glossary-content {

		border-top: 1px solid white;
		
		p {
			p {
				span {
					color: white !important;
				}
			}
		}
	}

	@media ( max-width: 767px ) {

		#glossary-term-listing {
			display: none;
		}

		#glossary-content {
			display: none;
		}

		#glossary-term-listing-mobile {
			display: block;

			> li {

				cursor: pointer;
				border-bottom: 1px solid white;
				ul {
					display: none;

					p {
						span {
							color: white !important;
						}
					}
				}

			}

		}

	}

}

#toolbar-figures {

	position: relative;

	figure {

		img, figcaption {
			max-width: 75%
		}

	}

}

a.toolbar-link {
	display: block;
	height: 22px;
	width: 22px;
	padding: 3px 1px;
	text-align: center;
	cursor: pointer;

	img {
		max-width: 75%;
	}
}

#toolbar-notes {
	.notesListItem {

		.note-buttons {
			float: left;
		}

		.the-note {
			margin-left: 35px;
		}

	}
}

#toolbar-account {

	.account-footer {
		margin-top: 10px;
	}

	.form-error:empty {
		display: none;
	}

	h4 {
		margin-bottom: 5px
	}

	h5{
		margin-top: 5px;
		margin-bottom: 22px;
	}

	.user-icon {
		width: 52px;
		height: 52px;
		margin-right: 10px;
		border-radius: 50%;
		background-color: $color-light-red;
		background-image: url(../../images/light/user_icon.png);
		background-size: contain;
		float: left;
	}

}
*/