/* line 1, ../main.scss */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* line 8, ../main.scss */
progress[value] {
  /* Positioning */
  position: fixed;
  left: 0;
  top: 0;
  /* Dimensions */
  width: 100%;
  height: .25em;
  /* Reset the apperance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Get rid of the default border in Firefox/Opera. */
  border: none;
  /* For Firefox/IE10+ */
  background-color: transparent;
  /* For IE10+, color of the progress bar */
  color: red;
}

/* line 33, ../main.scss */
progress[value]::-webkit-progress-bar {
  background-color: transparent;
}

/* line 37, ../main.scss */
progress[value]::-webkit-progress-value {
  background-color: red;
}

/* line 41, ../main.scss */
progress[value]::-moz-progress-bar {
  background-color: red;
}
