#section {

	#default-section-view {

		figure,
		figure .figure_content,
		figure .figure_content object,
		figure .figure_content object img {

			-webkit-column-break-inside: avoid;		/* Chrome, Safari */
		    page-break-inside: avoid;				/* Theoretically FF 20+ */
		    break-inside: avoid-column;				/* IE 11 */
		    //display:table;						/* Actually FF 20+ */

		    float: none !important;
		    display: block;

		    max-width: 100%;
		    line-height: 29px;

		}

		// All max heights are overriden by JavaScript
	    figure {

	    	
	    	max-height: 741px;

	    	margin: auto;  // ensures that the figure takes up the entire page
	    	margin-bottom: 15px;

	    	border: thin $gray-lighter solid;
			padding: 6px;

						.figure_content {
				img {
					
				}
			}

			.figure_content {
				max-height: 711px;

			    object {
	    			max-height: 711px;

				    img {
				    	max-height: 711px;
				    	border: 0;
				    }
				}

			}

			figcaption {
				background: white;


				p {
					font-family: 'Lora', serif;
					font-style: italic;
					font-size: 14px;
					color: #3c3c3c;
					
					padding-top: 4px;
					margin: 0;
				}

			}
	    	    	
	    }

	}

}
