#section {

	#default-section-view {


		figure {
			margin: 20px;

			border: thin $gray-lighter solid;
			padding: 6px;

			.figure_content {
				img {
					border: 0;
				}
			}

			figcaption {
				background: white;


				p {
					font-family: 'Lora', serif;
					font-style: italic;
					font-size: 14px;
					color: #3c3c3c;
					
					padding-top: 4px;
					margin: 0;
				}

			}

			&.left {
				float: left;
				margin-right: 50px;
			}

			img.left {
				float: left;
				max-width: 100%;
				max-height: 50vh;
			}

			&.right {
				float: right;
				margin-left: 40px;
			}

			img.right {
				float: right;
				max-width: 100%;
				max-height: 50vh;
			}

			&.plate,
			&.center {

				width: 50%;
				max-width: 100%;
				margin-left: auto;
				margin-right: auto;

				img, figcaption {
					width: 100%;
				}

				@media (max-width: 768px) {
					width: 90%;
				}
			}

			.osci-figure {
				
			}

		}

	}

}
