header {
	position: fixed;
	top: 0; left: 0;

	z-index: 1000;

	width: 100%;
	max-width: 100%;

	border-bottom: 2px solid $color-light-grey;
	padding: 15px 0px 10px 0px;

	background: white;

}

.header-title {
	* {
		margin: 0;
		padding: 0;
		vertical-align: middle;
	}
}

