body {
	margin-top: 52px;
}

header {
	position: fixed;
	top: 0; left: 0;

	z-index: 1000;

	width: 100%;
	max-width: 100%;

	background: white;

	border-bottom: 1px solid $color-light-grey;


	.header-title {
		
		margin: 0px -15px;

		.container, .container-fluid {
			padding-top: 15px;
			padding-bottom: 10px;

			h1, p {
				margin: 0;
				padding: 0px 15px;
				vertical-align: middle;

				font-size: 18px;
				line-height: 1.5;
				font-family: 'Lato', sans-serif;

			}

			h1 {
				font-weight: 700;

				/*
				height: 27px;
				@media( max-width: 991px ) {
					width: calc(100% - 102px );
					text-overflow: ellipsis;
					overflow: hidden;
				}
				*/

			}

			.section-title {

				&:before {
					content: "<";
					margin-right: 10px;
				}

				&:after {
					content: ">";
					margin-left: 10px;
				}
			}

			.btn-menu {
				padding-left: 40px;
				background-image: url("../../images/dark/menu_icon.png");
				background-repeat: no-repeat;
			}
		}
	}


}



