#navbar {
	position: fixed;
	bottom: 0;

	width: 100%;

	background: white;

	z-index: 998;

	.nav {
		li {
			a {
				font-size: 24px;
				z-index: 999;
				@media (max-width: 768px) {
					font-size: 14px;
				}
			}
			text-align: center;
			width: 55px;
			&:hover {
				cursor: hand;
			}
		}

		li.active {
			a {
				z-index: 999;
				background-color: #e7e7e7;
			}
		}
	}

}


@media (max-width: 480px) {
	#navbar {
		.nav {
			li {
				width: 100%;
				text-align: left;
			}
		}
	}
}

#navbar-area {
	.tooltip > .tooltip-inner {
    	background-color:#52818b;
    	height: 40px;
    	position: relative;
    	text-transform: uppercase;
    	right: 50px;
    	top: -8px;
    	min-width: 150px;
    	line-height: 35px;
    	color: #FFF;
    }
    .tooltip.bottom > .tooltip-arrow {
		top: -16px;
		left: 50%;
		margin-left: -15px;
		border-bottom-color:#52818b;
		border-width: 0 15px 15px;
	}
}