@media print {
  .content {
    position: relative;
  }

  #section-container {
    overflow: visible;
    height: auto;
    margin: auto;


    #section {
      page-break-before: always;
      
      height: auto !important;
      width: auto;
      margin: auto;
      padding: auto;
      overflow: visible;

      display: table;

      #default-section-view {

        -webkit-column-width: auto !important;
           -moz-column-width: auto !important;
                column-width: auto !important;
        -webkit-column-count: auto !important;
           -moz-column-count: auto !important;
                column-count: auto !important;
                       width: auto !important;

      }

    }


  }

  figure {

    page-break-inside: avoid;
    width: 100% !important;
    float: none !important;
    margin-left: 0 !important;
    margin-right: 0 !important;

    img {

        max-width: 40% !important;
        max-height: inherit !important;
        float: none !important;

    }

  }

  div, p, ul, ol {
      page-break-inside: avoid;
  }

}