

.container {

	//overflow: hidden;
	margin-top: 15px;
	margin-bottom: 15px;

}

// TODO: Move some of this to _figures.scss
#section {

	// Chapter #
	h1 {

		font-family: 'Lora', serif;

		font-size: 14px;
		line-height: 16px;

		text-align: center;
		text-transform: uppercase;

		color: #3c3c3c;
	}

	// Chapter Title
	h3 {
		font-family: 'Lora', serif;
		font-weight: 700;

		font-size: 36px;
		line-height: 40px;

		text-align: center;
		
		margin-bottom: 16px;
		color: #3c3c3c;
	}

	// Body copy
	p {
		font-family: 'Lora', serif;

		font-size: 16px;
		line-height: 29px;
		
		margin-bottom: 16px;
		color: #3c3c3c;
	}

	width: 100%;
	height: calc(100% - 30px);

	-webkit-columns: 2 300px;
	   -moz-columns: 2 300px;
	        columns: 2 300px;

	-webkit-column-gap: 40px;
	   -moz-column-gap: 40px;
	        column-gap: 40px;

	#section-view {
		padding: 30px 40px;
	}

	figure,
	figure .figure_content,
	figure .figure_content object,
	figure .figure_content object img {

		-webkit-column-break-inside: avoid;		/* Chrome, Safari */
	    page-break-inside: avoid;				/* Theoretically FF 20+ */
	    break-inside: avoid-column;				/* IE 11 */
	    //display:table;						/* Actually FF 20+ */

	    float: none !important;
	    display: block;

	    max-width: 100%;

	}

    figure {
    	max-height: 741px;
    	margin: auto auto;  // ensures that the figure takes up the entire page
		.figure_content {
			max-height: 711px;

		    object {
    			max-height: 711px;

			    img {
			    	max-height: 711px;
			    }
			}

		}
    	    	
    }

}

.footnote-reference {
	margin: 0 5px;

	display: inline-block;
	position: relative;
	
	top: -5px;
	
	width: 15px;
	height: 15px;
	
	border-radius: 50%;
	
	color: #fff;
	font-size: 12px;
	line-height: 15px;
	text-align: center;
	
	background: $color-light-red;
	
	&:hover {
		color:#fff;
		text-decoration: none;
		background: $color-dark-red;
	}
	
}

.glossary-term {
	&:hover {
		cursor: hand;
	}
}

@media (max-width: 992px) {
	#section {
		padding-left: 0;
	}
}

@media (min-width: 992px) {
	.section-col {
		float: none;
	}
}
