.container {
	margin-top: 15px;
	margin-bottom: 15px;
}

body, .container {
	overflow: hidden;
}

// TODO: Move some of this to _figures.scss
#section {
	overflow: auto;
	overflow-y: hidden;

	#default-section-view {
		overflow: auto;
		overflow-y: hidden;
		text-align: justify;
	}
	//scroll-snap-points-x: repeat(100%);
	//scroll-snap-type: mandatory;

	/*
	#default-section-view {
		-webkit-transform: translateX(0);
	}
	*/

	// Chapter #
	h2 {

		font-family: 'Lora', serif;

		font-size: 14px;
		line-height: 16px;

		text-align: center;
		text-transform: uppercase;

		color: #3c3c3c;
	}

	// Chapter Title
	h3 {
		font-family: 'Lora', serif;
		font-weight: 700;

		font-size: 36px;
		line-height: 40px;

		text-align: center;
		
		margin-bottom: 16px;
		color: #3c3c3c;
	}

	// Body copy
	p {
		font-family: 'Lora', serif;

		font-size: 16px;
		line-height: 29px;

		margin-bottom: 16px;
		color: #3c3c3c;
	}

	// This constrains #section b/w the #header and #navbar
	width: 100%;
	margin-top: 15px;

	//height: calc(100% - 30px);
	height: 100%; // hide scrollbar
	

	#section-view {
		padding: 30px 40px;
	}

	#default-section-view {

		// Consider manipulating these with javascript
		-webkit-columns: 2 300px;
		   -moz-columns: 2 300px;
		        columns: 2 300px;

		-webkit-column-gap: 40px;
		   -moz-column-gap: 40px;
		        column-gap: 40px;

	}

	figure,
	figure .figure_content,
	figure .figure_content object,
	figure .figure_content object img {

		-webkit-column-break-inside: avoid;		/* Chrome, Safari */
	    page-break-inside: avoid;				/* Theoretically FF 20+ */
	    break-inside: avoid-column;				/* IE 11 */
	    //display:table;						/* Actually FF 20+ */

	    float: none !important;
	    display: block;

	    max-width: 100%;

	}

    figure {
    	max-height: 741px;
    	margin: auto auto;  // ensures that the figure takes up the entire page

		.figure_content {
			max-height: 711px;

		    object {
    			max-height: 711px;

			    img {
			    	max-height: 711px;
			    }
			}

		}
    	    	
    }

}

// TODO: Edit me!
.footnote-reference {
	margin: 0 5px;

	display: inline-block;
	position: relative;
	
	top: -5px;
	
	width: 15px;
	height: 15px;
	
	border-radius: 50%;
	
	color: #fff;
	font-size: 12px;
	line-height: 15px;
	text-align: center;
	
	background: $color-light-red;
	
	&:hover {
		color:#fff;
		text-decoration: none;
		background: $color-dark-red;
	}
	
}

// TODO: Remove me? Hide me?
.glossary-term {
	&:hover {
		cursor: hand;
	}
}


.loader {
	margin: 80px auto;

	font-size: 10px;
	position: relative;
	text-indent: -9999em;

	border-top: 1.1em solid rgba(184, 41, 39, 0.2);
	border-right: 1.1em solid rgba(184, 41, 39, 0.2);
	border-bottom: 1.1em solid rgba(184, 41, 39, 0.2);
	border-left: 1.1em solid rgb(184, 41, 39);

	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);

	-webkit-animation: load8 1.1s infinite linear;
	animation: load8 1.1s infinite linear;

	&, &:after {
		border-radius: 50%;
		width: 10em;
		height: 10em;
	}

	@-webkit-keyframes load8 {
		0% {
			-webkit-transform: rotate(0deg);
			transform: rotate(0deg);
		}
		100% {
			-webkit-transform: rotate(360deg);
			transform: rotate(360deg);
		}
	}
	@keyframes load8 {
		0% {
			-webkit-transform: rotate(0deg);
			transform: rotate(0deg);
		}
		100% {
			-webkit-transform: rotate(360deg);
			transform: rotate(360deg);
		}
	}

}


