$toolbar-margin-bottom: 5px;

#toolbar {

	float: left;

	position: fixed;
	right: 0px;
	top: 52px;
	bottom: 50px;

	z-index: 10001;

	background: $color-dark-red;

	#toolbar-area {

		float: left;
		height: 100%;

		background: $color-light-red;


		z-index: 990;

		list-style-type: none;
		padding: 0;

		li {

			margin-bottom: $toolbar-margin-bottom;

			&.toolbar-item-view {

				cursor: hand;
				border: 0;
				font: 0/0 a;
				text-shadow: none;
				color: transparent;

				background-size: 50px 50px;
				background-repeat: no-repeat;
				width: 50px;
				height: 50px;

				&.active {
					background-color: $color-dark-red;
				}


				&.tocToolbarView-toolbar-item {
					background-image: url(../../images/light/contents_icon.png);
					&:hover {
						background-image: url(../../images/light/contents_icon.png);
					}
				}

				/*
				&.printToolbarView-toolbar-item {
					background-image: url(../../images/light/print.png);
					&:hover {
						background-image: url(../../images/light/print.png);
					}
				}
				*/	

				&.searchToolbarView-toolbar-item {
					background-image: url(../../images/light/search_icon.png);
				}

				&.glossaryToolbarView-toolbar-item {
					background-image: url(../../images/light/glossary_icon.png);
				}

				&.footnotesToolbarView-toolbar-item {
					background-image: url(../../images/light/footnotes_icon.png);
				}

				&.figuresToolbarView-toolbar-item {
					background-image: url(../../images/light/figures_icon.png);
				}

				&.notesToolbarView-toolbar-item {
					background-image: url(../../images/light/notes_icon.png);
				}

				&.citationsToolbarView-toolbar-item {
					background-image: url(../../images/light/cite_icon.png);
				}

				&.accountToolbarView-toolbar-item {
					background-image: url(../../images/light/user_icon.png);
					&:hover {
						background-image: url(../../images/light/user_icon.png);
					}
				}
			}
		}
	}

	#toolbar-filler,
	#toolbar-readout {
		float: left;
		height: 100%;
		width: 270px;

		max-width: calc( 100% - 50px );

		color: white;
	}

	#toolbar-filler {
		background: $color-light-red;

		p {
			font-family: 'Lato', sans-serif;
			line-height: 50px;
			margin-bottom: $toolbar-margin-bottom;
			margin-left: 10px;
		}
	}

	#toolbar-readout {

		display: none;

		background: $color-dark-red;

		padding: 15px 30px 30px 30px;

		h3 {
			margin: 0;
			margin-right: -30px;
			padding-right: 30px;
			border-bottom: 1px white solid;
			padding-bottom: 8px;
			margin-bottom: 5px;
		}

		a {
			color: white;

			&:hover {
				color: $color-light-red;
				text-decoration: none;
			}
		}


		ul {

			list-style: none;
			padding: 0;
			margin: 0;

			li {

				margin: 10px 0px;

				h4, h5 {
					margin: 0px;
				}

			}

		}


		#toolbar-glossary {

			#glossary-filter-box {
				color: black;
			}

			#glossary-term-listing-mobile {
				display: none;
			}

			#glossary-content {

				border-top: 1px solid white;
				
				p {
					p {

						span {

							color: white !important;

						}

					}
				}

			}

			@media ( max-width: 767px ) {

				#glossary-term-listing {
					display: none;
				}

				#glossary-content {
					display: none;
				}

				#glossary-term-listing-mobile {
					display: block;

					> li {

						cursor: pointer;
						border-bottom: 1px solid white;
						ul {
							display: none;

							p {
								span {
									color: white !important;
								}
							}
						}

					}

				}

			}

		}

		#toolbar-figures {

			position: relative;

			.figure-reel {
				overflow-y: scroll;
				max-height: calc(100% - 54px);

				figure {
					img {
						max-width: 75%
					}
				}

			}

		}

		#toolbar-account {
			.account-footer {
				margin-top: 10px;
			}
		}


		



	}
}


