$icon-font-path: "../../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
$image-path : "/images";

$color-light-grey: #ccc;
$color-text: #3c3c3c;
$color-light-red: #b82927;
$color-dark-red: #810c0b;

$header-height: 52px;
$navbar-height: 50px;

@import "bootstrap/bootstrap";
@import "typography";
@import "browsehappy";

@import "section";
@import "navigation";
@import "header";
@import "toolbar";
@import "navbar";
@import "navbar-slider";

@import "figures";
@import "layered-image";

@import "overlay";
@import "paragraph-popover";
@import "note-form";
@import "citation";
@import "print";

