<div class='header'><%= chapter %></div>

<% if (previousItem !== null) { %>
<div class='prev-page side'>
	<div class='indicator'>
		<a href="#section/<%= previousItem.id %>" title="<%= previousItem.get('title') %>">&lt;</a>
	</div>
</div>
<% } %>

<% if (nextItem !== null) { %>
<div class='next-page side'>
	<div class='indicator'>
		<a href="#section/<%= nextItem.id %>" title="<%= nextItem.get('title') %>">&gt;</a>
	</div>
</div>
<% } %>

<% if (previousItem !== null) { %>
<div class='prev-page corner'>
	<a href="#section/<%= previousItem.id %>" title="<%= previousItem.get('title') %>">
		<div class='label'>Previous Section</div>
	</a>
</div>
<% } %>

<% if (nextItem !== null) { %>
<div class='next-page corner'>
	<a href="#section/<%= nextItem.id %>" title="<%= nextItem.get('title') %>">
		<div class='label'>Next Section</div>
	</a>
</div>
<% } %>