/* line 1, ../app/oscitk/themes/Simple_Horizontal/styles/figures.scss */
figure {
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  -o-column-break-inside: avoid;
  -ms-column-break-inside: avoid;
  column-break-inside: avoid;
  -webkit-break-inside: avoid;
  -moz-break-inside: avoid;
  -o-break-inside: avoid;
  -ms-break-inside: avoid;
  break-inside: avoid;
  margin: 20px;
  max-height: auto;
  position: relative;
  text-align: center;
}

/* line 20, ../app/oscitk/themes/Simple_Horizontal/styles/figures.scss */
.figure_content img {
  border: 2px solid #f1f1f1;
  max-width: 100%;
}

/* line 26, ../app/oscitk/themes/Simple_Horizontal/styles/figures.scss */
figcaption {
  background: #f1f1f1;
  font-size: 14px;
  padding: 4px 4px 2px 6px;
  text-align: center;
  width: 100%;
}

/* line 34, ../app/oscitk/themes/Simple_Horizontal/styles/figures.scss */
figure.left {
  float: left;
  margin-right: 50px;
}

/* line 39, ../app/oscitk/themes/Simple_Horizontal/styles/figures.scss */
img.left {
  float: left;
  max-height: 50vh;
}

/* line 44, ../app/oscitk/themes/Simple_Horizontal/styles/figures.scss */
figure.right {
  float: right;
  margin-left: 40px;
}

/* line 49, ../app/oscitk/themes/Simple_Horizontal/styles/figures.scss */
img.right {
  float: right;
  max-height: 50vh;
}

/* line 54, ../app/oscitk/themes/Simple_Horizontal/styles/figures.scss */
figure.plate,
figure.center {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  width: 50%;
}
/* line 60, ../app/oscitk/themes/Simple_Horizontal/styles/figures.scss */
figure.plate img, figure.plate figcaption,
figure.center img,
figure.center figcaption {
  width: 100%;
}
@media (max-width: 768px) {
  /* line 54, ../app/oscitk/themes/Simple_Horizontal/styles/figures.scss */
  figure.plate,
  figure.center {
    width: 90%;
  }
}

/* line 73, ../app/oscitk/themes/Simple_Horizontal/styles/figures.scss */
.osci-figure {
  background: #f1f1f1;
}

@media (min-width: 768px) {
  /* line 78, ../app/oscitk/themes/Simple_Horizontal/styles/figures.scss */
  figure {
    max-height: 100%;
    overflow: auto;
    padding-bottom: 36px;
  }

  /* line 84, ../app/oscitk/themes/Simple_Horizontal/styles/figures.scss */
  figcaption {
    bottom: 0;
    position: absolute;
    width: 100%;
  }
}
