/* line 1, ../app/oscitk/themes/Simple_Horizontal/styles/navbar.scss */
#navbar {
  z-index: 998;
  top: 0;
  position: fixed;
  width: 100%;
}
/* line 8, ../app/oscitk/themes/Simple_Horizontal/styles/navbar.scss */
#navbar .nav li {
  text-align: center;
  width: 100%;
}
/* line 12, ../app/oscitk/themes/Simple_Horizontal/styles/navbar.scss */
#navbar .nav li a {
  font-size: 14px;
}

/* line 19, ../app/oscitk/themes/Simple_Horizontal/styles/navbar.scss */
.navbar {
  min-height: initial;
}

/* line 23, ../app/oscitk/themes/Simple_Horizontal/styles/navbar.scss */
.navbar-default {
  margin: 0;
}

/* line 27, ../app/oscitk/themes/Simple_Horizontal/styles/navbar.scss */
#navbar-title {
  color: #333;
  font-size: 14px;
}
@media (min-width: 768px) {
  /* line 27, ../app/oscitk/themes/Simple_Horizontal/styles/navbar.scss */
  #navbar-title {
    font-size: 18px;
    float: left;
    padding: 10px 15px 8px;
    line-height: 1.2;
    height: auto;
  }
}

@media (max-width: 480px) {
  /* line 43, ../app/oscitk/themes/Simple_Horizontal/styles/navbar.scss */
  #navbar .nav li {
    width: 100%;
    text-align: left;
  }
}
