/* line 1, ../app/oscitk/themes/Simple_Horizontal/styles/progress.scss */
.progress.vertical {
  height: 85%;
  position: fixed;
  right: 40px;
  top: 70px;
  width: .25em;
}

/* line 8, ../app/oscitk/themes/Simple_Horizontal/styles/progress.scss */
.progress.vertical.bottom {
  position: relative;
}

/* line 11, ../app/oscitk/themes/Simple_Horizontal/styles/progress.scss */
.progress.vertical.bottom .progressbar-front-text {
  bottom: 0;
  position: absolute;
}

/* line 15, ../app/oscitk/themes/Simple_Horizontal/styles/progress.scss */
.progress.vertical .progress-bar {
  height: 0;
  width: 100%;
  -webkit-transition: height 0.6s ease;
  -o-transition: height 0.6s ease;
  transition: height 0.6s ease;
}

/* line 23, ../app/oscitk/themes/Simple_Horizontal/styles/progress.scss */
.progress.horizontal {
  top: 40px;
  height: .25em;
  margin-bottom: 0;
  position: fixed;
  right: 0;
  width: 100%;
  z-index: 999;
}

/* line 32, ../app/oscitk/themes/Simple_Horizontal/styles/progress.scss */
.progress.horizontal.bottom {
  position: relative;
}

/* line 35, ../app/oscitk/themes/Simple_Horizontal/styles/progress.scss */
.progress.horizontal.bottom .progressbar-front-text {
  bottom: 0;
  position: absolute;
}

/* line 39, ../app/oscitk/themes/Simple_Horizontal/styles/progress.scss */
.progress.horizontal .progress-bar {
  height: 100%;
  width: 0;
  -webkit-transition: width 0.6s ease;
  -o-transition: width 0.6s ease;
  transition: width 0.6s ease;
}
