#toolbar {
	float: left;
	margin-top: 20px;
	z-index: 998;

	@media( min-width: 926px ) {
		&.affix {
			top: 50px;
		    + .container {
			    padding-top: 50px
			}
		}
	}

}

#toolbar-area {
	z-index: 990;
	list-style-type: none;

	.toolbar-item-view {
		margin-bottom: 10px;

		cursor: pointer;
		border: 0;
		font: 0/0 a;
		text-shadow: none;
		color: transparent;
		background-size: 50px 50px;
		background-repeat: no-repeat;
		width: 50px;
		height: 50px;

		&.tocToolbarView-toolbar-item {
			background-image: url(../../images/list.png);
			&:hover {
				background-image: url(../../images/list-active.png);
			}
		}

		&.accountToolbarView-toolbar-item {
			background-image: url(../../images/login.png);
			&:hover {
				background-image: url(../../images/login-active.png);
			}
		}

		&.printToolbarView-toolbar-item {
			background-image: url(../../images/print.png);
			&:hover {
				background-image: url(../../images/print-active.png);
			}
		}

		&.fontsizeToolbarView-toolbar-item {
			font: inherit;
			width: auto; height: auto;
			color: auto;

			.btn-group > .btn {
			    padding: 2px;
    			border-radius: 5px;
    			border-color: $osci-color-primary;

    			// This makes 'em semi-circular
			    font-size: 14px;
			    height: 48px;
			    width: 25px;
			    line-height: 43px;
			    border-radius: 25px;
			    border: 0;

    			&.larger {
				    border-bottom-right-radius: 0;
				    border-top-right-radius: 0;
				}
				&.smaller {
				    border-bottom-left-radius: 0;
    				border-top-left-radius: 0;
				}
			}

		}

	}
}


ul.toc {
	list-style-type: none;
}

$osci-tbms: 30px;

@media( max-width: 925px ) {

	#toolbar {

		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;

		.nav {

			padding-top: 5px;

		    background-color: #f8f8f8;
		    border-top: thin solid #e7e7e7;

		    text-align: center;
			#toolbar-area {


				padding-left: 0px;


				display: inline-block;

				margin: 0px -10px;

				.toolbar-item-view {
					float: left;

					margin: 0px 10px;
					height: $osci-tbms;
					width: $osci-tbms;

					background-size: $osci-tbms $osci-tbms;

					&.fontsizeToolbarView-toolbar-item {
						display: none;
					}
				}

			}
		}
	}

}