.plate {
	min-width: 100%;
}

.fullpage {

}

.right {
	float: right;
   	height: 30vw;
   	margin: 10px 0 45px 20px;
   	figcaption {
   		z-index: -2;
   		font-size: 14px;
   		position: relative;
   		right: -22px;
   		top: -40px;
   		background: $gray-lighter;
   		margin-top: 47px;
   		margin-right: 18px;
   		margin-left: -6px;
   		p {
   			padding: 6px;
   		}
   	}
}

.left {
	float: left;
	height: 30vw;
	margin: 10px 20px 45px 0;
	figcaption {
   		z-index: -2;
   		font-size: 14px;
   		position: relative;
   		left: -22px;
   		top: -40px;
   		background: $gray-lighter;
   		margin-top: 47px;
   		margin-left: 18px;
   		margin-right: -6px;
   		p {
   			padding: 6px;
   		}
   	}
}