.paragraph-controls {
	position: relative;
	right: 32px;
	top: 6px;
	z-index: 2;
	height: 0;
}

.btn {
	text-transform: uppercase;
}

.paragraph-button {
	border: 0;
	font: 0/0 a;
	text-shadow: none;
	color: transparent;
	background-image: url(../../images/plus-grey.png);
	background-size: 15px 15px;
	background-repeat: no-repeat;
	width: 15px;
	height: 15px;
}

.withNotes {
	background-image: url(../../images/plus-blue.png);
}

#note-submit {
	margin-top: 10px;
}

.popover-content {
	padding: 9px;
	textarea {
		border: none;
		font-size: 14px;
		color: #333;
		padding: 5px;
		height: 100px;
	}
	button {
		font-size: 15px;
		font-weight: 200;
	}
}
