#toolbar.affix {
    top: 50px;
    + .container {
	    padding-top: 50px
	}
}

#toolbar {
	float: left;
	margin-top: 20px;
	z-index: 998;
}

#toolbar-area {
	z-index: 990;
	list-style-type: none;
}

.tocView-toolbar-item {
	cursor: hand;
	border: 0;
	font: 0/0 a;
	text-shadow: none;
	color: transparent;
	background-image: url(../../images/list-grey.png);
	background-size: 30px 30px;
	background-repeat: no-repeat;
	width: 30px;
	height: 30px;
	&:hover {
		background-image: url(../../images/list-blue.png);
	}
}

.accountView-toolbar-item {
	cursor: hand;
	border: 0;
	font: 0/0 a;
	text-shadow: none;
	color: transparent;
	background-image: url(../../images/login-grey.png);
	background-size: 30px 30px;
	background-repeat: no-repeat;
	width: 30px;
	height: 30px;
	&:hover {
		background-image: url(../../images/login-blue.png);
	}
}

.printView-toolbar-item {
	cursor: hand;
	border: 0;
	font: 0/0 a;
	text-shadow: none;
	color: transparent;
	background-image: url(../../images/print-grey.png);
	background-size: 30px 30px;
	background-repeat: no-repeat;
	width: 30px;
	height: 30px;
	&:hover {
		background-image: url(../../images/print-blue.png);
	}
}