/* line 1, ../figures.scss */
figure {
  margin: 20px;
}

/* line 7, ../figures.scss */
.figure_content img {
  border: 2px solid #f1f1f1;
}

/* line 12, ../figures.scss */
figcaption {
  background: #f1f1f1;
  padding: 4px 4px 2px 6px;
  font-size: 14px;
}

/* line 18, ../figures.scss */
figure.left {
  float: left;
  margin-right: 50px;
}

/* line 23, ../figures.scss */
img.left {
  float: left;
  max-width: 100%;
  max-height: 50vh;
}

/* line 29, ../figures.scss */
figure.right {
  float: right;
  margin-left: 40px;
}

/* line 34, ../figures.scss */
img.right {
  float: right;
  max-width: 100%;
  max-height: 50vh;
}

/* line 40, ../figures.scss */
figure.plate,
figure.center {
  width: 50%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
/* line 46, ../figures.scss */
figure.plate img, figure.plate figcaption,
figure.center img,
figure.center figcaption {
  width: 100%;
}
@media (max-width: 768px) {
  /* line 40, ../figures.scss */
  figure.plate,
  figure.center {
    width: 90%;
  }
}

/* line 59, ../figures.scss */
.osci-figure {
  background: #f1f1f1;
}
