/* line 1, ../toolbar.scss */
#toolbar {
  float: right;
  position: relative;
  z-index: 998;
}

/* line 7, ../toolbar.scss */
ul.toc {
  list-style-type: none;
}

/* line 11, ../toolbar.scss */
#toolbar-area {
  list-style-type: none;
  margin: 0;
  padding: 0;
  z-index: 990;
}
/* line 17, ../toolbar.scss */
#toolbar-area li {
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  float: left;
  height: 30px;
  margin: 5px;
  width: 30px !important;
}

/* line 28, ../toolbar.scss */
.tocView-toolbar-item {
  background-image: url(../../images/list.png);
}
/* line 30, ../toolbar.scss */
.tocView-toolbar-item:hover {
  background-image: url(../../images/list-active.png);
}

/* line 35, ../toolbar.scss */
.accountView-toolbar-item {
  background-image: url(../../images/login.png);
}
/* line 37, ../toolbar.scss */
.accountView-toolbar-item:hover {
  background-image: url(../../images/login-active.png);
}

/* line 42, ../toolbar.scss */
.printView-toolbar-item {
  background-image: url(../../images/print.png);
}
/* line 44, ../toolbar.scss */
.printView-toolbar-item:hover {
  background-image: url(../../images/print-active.png);
}

/* line 50, ../toolbar.scss */
#toolbar-area .fontSizeView-toolbar-item {
  width: 60px !important;
}
/* line 53, ../toolbar.scss */
#toolbar-area .fontSizeView-toolbar-item a {
  display: inline-block;
  padding: 7px 5px 7px 0;
}
