.tab-content {
    padding-top: 10px;
}

.citation-wrapper {
    h4{
        font-size: 14px;
        margin-top: 3px;
    }

    p {
        font-size: 12px;
    }

    input {
        font-size: 12px;
        width: 100%;
    }
}

.citation-url{
    padding-bottom: 10px;
}