#navigation {
    background: #fff;
    height: 36px;
    margin: 0;
    position: relative;
    overflow: hidden;

    .corner {
        background-color: $brand-primary;
        text-align:center;
        text-transform: uppercase;
        width: 120px;

        a {
            color: #fff;
            cursor: pointer;
            display: block;
            font-size: 15px;
            padding-bottom: 8px;
            padding-top: 8px;
            padding: 8px;

            &:hover {
                background-color: #3f636b;
            }
        }
    }
    .prev-page {
        float: left;
    }

    .next-page {
        float: right;
    }


}

.navigation-sections {
    list-style-type: none;
    margin: 0;
    padding: 0;

    .navigation-item {
        float: left;
        position: relative;

        a {
            color: $gray-darker;
            cursor: pointer;
            display: block;
            padding: 8px;
            text-align: center;
            width: 30px;

            &:hover {
                background: $gray-light;
                color: #fff;
            }

        }

        &.active{

            a{
                background-color: $gray-darker;
                color: #fff;
            }
        }
    }
    .tooltip{
        left: 50% !important;
        top: 100% !important;
    }

    .tooltip > .tooltip-inner {
        background-color:$brand-primary;
        color: #FFF;
        height: 40px;
        line-height: 35px;
        min-width: 150px;
        position: absolute;
        right: -27px;
        text-transform: uppercase;
        top: -3px;
        z-index: 9999;
    }
    .tooltip.bottom > .tooltip-arrow {
        border-bottom-color: $brand-primary;
        border-width: 0 15px 15px;
        left: 50%;
        margin-left: -15px;
        top: -16px;
    }
}

@media (min-width: 768px) {
    #navigation {
        background: $gray-lighter;
        bottom: 0;
        position: fixed;
        width: 100%;
    }
}
