$paragraph-button-size: 20px;

.paragraph-controls {

	display: inline-block;
	margin-right: 5px;
	height: 15px;
	z-index: 2;

	.btn {
		text-transform: uppercase;
	}

	.paragraph-button {
		background-image: url(../../images/plus-grey.png);
		background-repeat: no-repeat;

		background-size: $paragraph-button-size $paragraph-button-size;
		width: $paragraph-button-size;
		height: $paragraph-button-size;


		border: 0;
		font: 0/0 a;
		text-shadow: none;
		color: transparent;

		&.withNotes {
			background-image: url(../../images/plus-blue.png);
		}

	}


}







.note-submit {
	margin-top: 10px
}

.modal-content {
	textarea {
		resize: none;
		color: $text-color;
		font-size: 14px;
		height: 100px;
		padding: 5px;
		width: 100%;
	}
}
