#toolbar {
	float: right;
	position: relative;
	z-index: 998;
}

ul.toc {
	list-style-type: none;
}

#toolbar-area {
	list-style-type: none;
	margin: 0;
	padding: 0;
	z-index: 990;

	li{
		background-repeat: no-repeat;
		background-size: cover;
		cursor: pointer;
		float: left;
		height: 30px;
		margin: 5px;
		width: 30px !important;
	}
}

.tocView-toolbar-item {
	background-image: url(../../images/list.png);
	&:hover {
		background-image: url(../../images/list-active.png);
	}
}

.accountView-toolbar-item {
	background-image: url(../../images/login.png);
	&:hover {
		background-image: url(../../images/login-active.png);
	}
}

.printView-toolbar-item {
	background-image: url(../../images/print.png);
	&:hover {
		background-image: url(../../images/print-active.png);
	}
}

.fontSizeView-toolbar-item {
	#toolbar-area & {
		width: 60px !important;

		a {
			display: inline-block;
			padding: 7px 5px 7px 0;
		}
	}
}