header {
    padding-top: 50px;
    z-index: 1000;
}
.container-header {
    background-color: #909090;
    background-position: center;
    background-size: cover;
    height: 80%;
    max-width: 100%;
    position: relative;
    width: 100%;
}

.header-title {
    color: white;
    left: 50%;
    position: absolute;
    text-align: center;
    text-shadow: 0 1px 0 black;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    h1 {
        margin: 0;
    }
    p {
        font-style: italic;
        font-weight: 300;
    }
}

@media (min-width: 768px) {
    header{
        padding-top: 0;
    }
    .container-header {
        height: 100%;
        //position: fixed;
    }
}
