.content {
    background: #fff;
    top: 100%;
    position: relative;
}

.hide-text {
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px; width: 1px;
    overflow: hidden;
    position: absolute !important;
}

@media (min-width: 768px) {
    .content {
        position: absolute;
        height: 100%;
        top: 0;
        left: 100%;
        min-width: 100%;
        overflow: scroll;
        border-right: 20px solid #fff;
        border-left: 20px solid #fff;
    }

    .container {
        width: 100% !important;
    }

    h1, h2, h3, h4, h5, h6 {
        margin-top: 0;
    }
}