<div class='overlay'>
	<div id="dismiss">
		<button class="btn btn-link">
		<span class="glyphicon glyphicon-remove"></span>
		</button>
	</div>
	<div class="container">
		<div class="row" style="margin-top: 30vh;">
			<div class="col-md-6 col-md-offset-3">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3>Profile</h3>
					</div>
						<div class="panel-body">
						<h4><%= username %></h4>
						<h5><%= email %></h5>
						<div><a href="#" class="logout">Log out</a></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>