<div class='overlay'>
    <!-- TODO: Check if this is obsolete-->
    <div id="dismiss">
        <button class="btn btn-link">
        <span class="glyphicon glyphicon-remove"></span>
        </button>
    </div>
    <div class="container">
        <div class="row" style="margin-top: 30vh;">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3>Notes</h3>
                    </div>
                    <div class="panel-body">

                        <div class="note-popup">
                            <form class="noteForm">
                            	<textarea><%= note %></textarea>
                                <label for="note-tags">Tags:</label>
                                <input type="text" name="note-tags" id="note-tags" value="<%= tags.join(', ') %>" />
                            </form>
                            <div class="status">Saved</div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>