<div class='overlay'>
	<div id="dismiss">
		<button class="btn btn-link">
		<span class="glyphicon glyphicon-remove"></span>
		</button>
	</div>
	<div class="container">
		<div class="row" style="margin-top: 30vh;">
			<div class="col-md-8 col-md-offset-2">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3>Table of Contents</h3>
					</div>
					<div class="panel-body">
						<ul class="toc">
							<% _.each(items, function(item) { %>
								<li class="toc-item<% if (item.id === app.views.navigationView.currentNavigationItem.id) { print(" active"); } %>">
									<a data-section-id="<%= item.id %>" href="#">
										<div class="toc-item-thumbnail">
											<% if (item.get('thumbnail')) { %>
												<img src="<%= item.get('thumbnail') %>">
											<% } %>
										</div>
										<div class="toc-item-text">
											<h4><%= item.get('title') %></h4>
											<% if (item.get('subtitle')) { %>
												<h5><%= item.get('subtitle') %></h5>
											<% } %>
										</div>
									</a>
									<hr>
								</li>
							<% }); %>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>